# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
.env

# Backend Data
backend/data/*.index
backend/data/*.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/dev_output.log

# Logs
*.log
